.titlebar-container {
    display: flex;
    flex-direction: column;
    margin: 8px auto;
    text-align: center;
    width: 75%;
}

.titlebar-logo {
    margin-bottom: 8px;
    width: 7.5%;
}